
.[0-9]*.info
.[0-9]*.orders
.[0-9]*.stats
.[0-9]*.ticks

munin-win32-plugins/mt4_account_1483126.sh
munin-win32-plugins/mt4_account_6514695.sh
munin-win32-plugins/mt4_account_6611745.sh
munin-win32-plugins/mt4_account_6637787.sh
munin-win32-plugins/mt4_account_6647561.sh
munin-win32-plugins/mt4_account_6661533.sh
munin-win32-plugins/mt4_account_6681042.sh
munin-win32-plugins/mt4_account_8063363.sh
munin-win32-plugins/mt4_markets_spread_6681042.sh
munin-win32-plugins/mt4_track_market_trades_1483126_EURUSD.sh
munin-win32-plugins/mt4_trades_1483126.sh
munin-win32-plugins/mt4_trades_6514695.sh
munin-win32-plugins/mt4_trades_6611745.sh
munin-win32-plugins/mt4_trades_6661533.sh
munin-win32-plugins/mt4_trades_8063363.sh
munin-win32-plugins/ping_88.85.67.27.sh
munin-win32-plugins/ping_fbs.com.sh
munin-win32-plugins/ping_fxstreet.com.sh
